@font-face {
  font-family: starwars;
  src: url(../fonts/Starjout.ttf);
}


body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cecece57;
}

.title {
  text-align: center;
  font-family: starwars;
}

.checklist {
  border: 2px solid black;
  padding: 0 5%;
  margin: auto 5%;
  background-color: white;
}

.checklist-items ul {
  list-style-type: none;
  padding-left: 0;
}
